{% extends "base.html" %}

{% load static wagtailimages_tags wagtailcore_tags %}

{% block body_class %}template-homepage{% endblock %}

{% block extra_css %}
<!-- Our CSS stylesheets go here -->
{% endblock extra_css %}

{% block content %}
<section class="container">
    <div class="row">
        <div class="col">
            <div class="p-5 mb-4 bg-light rounded-3">
                <div class="container-fluid py-5">
                    <h1 class="display-4 fw-bold">{{ page.hero_title|title }}</h1>
                    <p class="fs-4 lead">{{ page.hero_subtitle }}</p>
                    <hr class="my-4">
                    <a class="btn btn-primary btn-lg" href="{{ page.cta_btn_link.url }}" role="button">{{ page.cta_btn_text }}</a>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Featured Blog Articles -->
<section class="container">
    <div class="row">
        <div class="col">
            <h2>Featured Articles</h2>
            <div class="row">
                {% for article in featured_articles %}
                <div class="col-4">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">{{ article.title }}</h5>
                            <p class="card-text">{{ article.intro }}</p>
                            <a href="{% pageurl article %}" class="btn btn-primary">Read Post</a>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</section>
<!-- End Featured Blog Articles -->
{% endblock content %}